# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Saved Models
models/*.pkl
!models/best_model.pkl
models/*.joblib
models/*.keras
models/*.h5

# Environment variables
.env